<section class="p-8 w-96 text-[14px]">
    <a href="/" class="items-center"><img src="./assets/newLogo.svg" alt="elmenues logo" class="w-32  "></a>
    
    <h2 mat-dialog-title class="text-gray-400">Create new account</h2>
    
    <mat-dialog-content class="mat-typography">
     <form class="text-[14px] ">
        <input type="email" placeholder="email" id="email" name="email" class="w-full h-8 border border-gray-300 rounded-md pl-3 focus:border-[#ed3c0b]"><br>
        <input type="text" placeholder="name" id="name" name="name" class="w-full h-8 border border-gray-300 rounded-md pl-3 focus:border-[#ed3c0b] mt-2"><br>
        <input  type="password" placeholder="password" id="password" name="password" class="w-full h-8 border border-gray-300 rounded-md pl-3 focus:border-[#ed3c0b] mt-2" ><br>
   <a matButton mat-dialog-close  (click)="openDialog()" class="text-[12px]">Already have an account!</a> <br>
        <button type="submit" class="text-[#ed3c0b] border border-[#ed3c0b] rounded-md mt-2 p-1" >Sign up</button>
     </form>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end" class="gap-2">
      <button matButton  mat-dialog-close >Cancel</button>
  
    </mat-dialog-actions>
    </section>