<header class=" px-g2 top-0 left-0 w-full z-10">
  <div class="relative z-2 container grid h-[var(--site-header-height)] grid-cols-[1fr_auto_auto] items-center lg:grid-cols-[auto_1fr_auto]">
  <div>
    <a href="/" ><img src="./assets/newLogo.svg" alt="elmenues logo" class="w-32 "></a></div>
    <div class="gap-g0.75 col-start-2 col-end-3 row-start-1 row-end-2 flex items-center justify-self-end lg:col-start-3 lg:col-end-[-1]">
      <button *ngIf="!isLogged" 
      matButton (click)="openDialog()"
        class="btn btn--ghost btn--sm ">
        Sign in
    </button>
    
      <button *ngIf="!isLogged" 
        class="btn btn--ghost btn--sm"
        matButton (click)="openDialogSignup()">
        Sign up
  </button>

  <button *ngIf="isLogged" 
  class="btn btn--ghost btn--sm text-white bg-[#ed3c0b]"
  matButton (click)="logOut()">
  Log Out
</button>
<a routerLink="/profile"> <i *ngIf="isLogged"  class="fa-regular fa-circle-user text-lg" style="color:#ed3c0b;"></i></a>
  
  <div class="relative">
  <a routerLink="/cart" > 
     <i class="fa-solid fa-cart-shopping cursor-pointer"></i>
  </a>
  <span *ngIf="(cartItemsCount$|async)as count">
 <span class="absolute  left-3 top-0 text-white text-[10px] bg-red-600 px-1 rounded-full" *ngIf="count>0">{{cartItemsCount$|async}}</span>

  </span>
  </div>
 
    </div>
  </div>
</header>
