<header class=" px-g2 top-0 left-0 w-full fixed z-10">
  <div class="relative z-2 container grid h-[var(--site-header-height)] grid-cols-[1fr_auto_auto] items-center lg:grid-cols-[auto_1fr_auto]">
  <div>
    <a href="/" ><img src="./assets/newLogo.svg" alt="elmenues logo" class="w-32 "></a></div>
    <div class="gap-g0.75 col-start-2 col-end-3 row-start-1 row-end-2 flex items-center justify-self-end lg:col-start-3 lg:col-end-[-1]">
      <button
      matButton (click)="openDialog()"
        class="btn btn--ghost btn--sm  text-white">
        Sign in
    </button>
    
      <button
        class="btn btn--ghost btn--sm"
        matButton (click)="openDialogSignup()">
        Sign up
  </button>
    </div>
  </div>
</header>
