.banner{
background: url(/assets/landing-bg-dishes-min.jpg) no-repeat rgb(0, 0, 0,.5) ;
background-size:cover;
background-position: center; 
background-blend-mode: overlay;   
height: 50%;
border-radius:0 0 20px 20px;
}